<div class="post-list">
  <h2>Posty użytkownika</h2>
  <table mat-table [dataSource]="posts" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let post">{{ post.id }}</td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef>Zawartość</th>
      <td mat-cell *matCellDef="let post">{{ post.body }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Utworzony</th>
        <td mat-cell *matCellDef="let post">{{ post.createdAt }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
