.custom-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  width: 50%;
}

.custom-input:focus {
  outline: none;
  border-color: dodgerblue;
}

.mat-mdc-row:hover {
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}
