.custom-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  width: 50%;
}

.custom-input:focus {
  outline: none;
  border-color: dodgerblue;
}

.mat-mdc-row:hover {
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}

.extreme-users-info {
  margin-top: 20px;
}

.extreme-user {
  margin-bottom: 10px;
}

.extreme-user-name {
  font-weight: bold;
}

.extreme-user-details {
  margin-left: 10px;
  color: #555;
}
